*{
    margin: 0;
    padding: 0;
    
}
.fundo{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculadora{
    position:absolute;
    background-color: black;
    padding: 13px 05px 5px 5px;
    border-radius: 10px;
    
}
.button{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    margin: 1.5px;
    color: rgb(216, 194, 194);
    background-color: rgb(31, 31, 31);
    border-radius: 4px;
    font-size: 15px; 
}
.button:hover{
    background-color: rgb(56, 53, 53);
    scale: 1.07;
    border-radius: 6px;
}
#resul{
    padding: 2px 5px 5px 0;
    text-align: right;
    color: rgb(231, 214, 214);
}

